    <!-- aboutus html starts  -->
    <sec class="aboutus">
        <div class="container py-5">
            <div class="row text-secondary">
                <div class="left col-md-6 col-sm-12 img-fluid">
                    <img src="/images/img3.png" alt="" style="width: 100%; height: auto;">
                </div>
                <div class="right col-md-6 col-sm-12 ">
                    <p class="fs-8">
                        GET INFO
                    </p>
                    <h3 class="mb-5 mt-3">
                        Read More <span>About Us</span>
                    </h3>
                    <p class="fs-8 mb-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque illum voluptates corrupti
                        voluptatum odit suscipit, accusantium consectetur quisquam, optio vitae ex ratione quod
                        repellendus! Ullam corrupti .
                    </p>
                    <p class="fs-8 mb-5">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, vitae velit ad accusantium quasi
                        iure adipisci eaque ab autem, laudantium officia exercitationem dolores cupiditate fugiat.
                    </p>
                    <div class="row justify-content-around px-5">
                        <div class="col-lg-5 col-md-12 box-design position-relative">
                            <img src="/images/im4.png" alt="" class="position-absolute"
                                style="background-color: white; box-shadow: 1px 1px 19px 1px lightgrey;width: 80px; height: 80px; padding: 5px; border-radius: 5px;">
                            <h4 class="mt-5">
                                Best Strategy
                            </h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam hic repellendus itaque
                                nemo, modi recusandae quaerat quam fugit earum ad!
                            </p>
                        </div>
                        <div class="col-lg-5 col-sm-12 box-design position-relative">
                            <img src="/images/img5.png" alt="" class="position-absolute"
                                style="background-color: white; box-shadow: 1px 1px 19px 1px lightgrey;width: 80px; height: 80px; padding: 5px; border-radius: 5px;">
                            <h4 class="mt-5">
                                Best Strategy
                            </h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam hic repellendus itaque
                                nemo, modi recusandae quaerat quam fugit earum ad!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </sec>
    <!-- aboutus html ends  -->