  <!-- courses html starts  -->
    <sec class="courses">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 px-5">
                    <img src="/images/img14.png" alt="" width="100%" height="auto" class="img-fluid">
                </div>
                <div class="col-md-6 col-sm-12 text-light">
                    <p class="mb-3">
                        Get the sale right now!
                    </p>
                    <h1 style="font-weight: bolder;font-size: 65px;" class="mb-3">
                        Up to 50% OFF <br> For 1+ courses
                    </h1>
                    <p class="mb-3">
                        Kogi VHS freegan bicycle rights try-hard green juice probably haven't heard of them cliche la
                        croix af chillwave.
                    </p>
                    <button class="btn mt-5" type="submit">
                        <a href="#" class="py-3 rounded px-4 bg-light"
                            style="text-decoration: none; color: #DB8ADE;">VIEW COURSES</a>
                    </button>
                </div>
            </div>
        </div>
    </sec>
    <!-- courses html ends  -->