<!-- footer html strats  -->
    <sec class="footer d-block position-relative">
        <img src="/images/im20.png" alt="" class="position-absolute">
        <div class="container row mx-auto">
            <div class="col-lg-3 col-md-12 bg-design fs-6 text-secondary">
                <p>
                    OUR OFFICE
                </p>
                <h3 class="fs-3 fw-bolder mb-4">
                    Get Closer To <span style="color: #DB8ADE;">EduWell</span>
                </h3>
                <p class="mb-4">
                    Trust fund nocore broklyn humblebrag mustache pork kitsch, bicycle rights hexagon schlitz keytar palo is
                    santo drinking vinegar fam ramps.
    
                </p>
                <p class="mb-4 mt-4">
                    Four dollar toast and edison bulb vinyl, listicle hashtag pug scenester typewrit er yuccie street
                    artboard or whatever to fill place.
                </p>
                <p class="fw-bold text-dark lh-lg">
                    - Selfies you probably haven't heard of them. <br>
                    - Tousled cold-pressed chicharrones yuccie. <br>
                    - Pabst iPhone chartreuse shabby chic tumeric. <br>
                    - Scenester normcore mumblecore snackwave. <br>
                </p>
                <button class="btn d-block mt-5">
                    <a href="#" class="text-decoration-none text-light fs-8">OUR SERVICES</a>
                </button>
            </div>
            <div class="col-lg-9 col-md-12 ms-auto">
                <img src="/images/img19.jpg" alt="" class="img-fluid" width="100%" height="auto">
            </div>
        </div>
        <div class="icon container pt-5">
            <div class="d-flex text-center justify-content-center mt-5">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin-in"></i>
                <i class="fa-solid fa-wifi"></i>
                <i class="fa-solid fa-basketball"></i>
            </div>
        </div>
        <div class="copy-right">
            <p class="text-center text-light mt-5">
                Copyright © 2022 EduWell Co., Ltd. All Rights Reserved.
            </p>
        </div>
        {{!-- form section start --}}
    <form method="post" action="/contact" class="w-50 mx-auto" id="contact">
        <h1 class="text-center">
            Contact US
        </h1>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">name</label>
            <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {{!-- form section end --}}
    </sec>
    <!-- footer html ends  -->