<!-- Ruby-Foster html starts  -->
    <sec class="rubby">
        <div class="container w-md-75 box-sha my-5 ">
            <div class="row">
                <div class="col-lg-8 col-md-12 px-5">
                    <h4 class="fw-bolder fs-4 mt-5 mb-4">
                        Ruby Foster
                    </h4>
                    <p class="mb-5">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe voluptatem error tenetur
                        aperiam. Debitis nulla, facilis, minima facere hic nam fugit mollitia blanditiis animi harum
                        impedit fuga? Possimus, fuga earum!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quia nobis repellendus repudiandae
                        architecto, et possimus quos. Sunt, illum facilis!
                    </p>
                    <span>
                        Facebook
                    </span>
                    <span style="border-left: 2px solid black; border-right: 2px solid black;">
                        Twitter
                    </span>
                    <span>
                        Linkedin
                    </span>
                    <br>
                    <a href="#" style="color: #DB8ADE; display: block; margin-top: 30px;">Contact Member</a>
                </div>
                <div class="col-lg-4 col-md-12 px-0">
                    <img src="/images/img13.jpg" alt="" width="100%" height="auto" class="img-fluid">
                </div>
            </div>
        </div>
    </sec>
    <!-- Ruby-foster html ends  -->