    <!-- team html starts  -->
    <sec class="team position-relative d-block px-3" id="services">
        <img src="img6.png" alt="" class="img1 position-absolute top-0 ">
        <img src="img7.png" alt="" class="img2 position-absolute top-0 end-0">
        <div class="container team-mem text-center pt-5">
            <p class="mt-5 text-secondary">
                Our Team
            </p>
            <h3 class="mb-5 mt-3">
                Our Team <span>Members</span>
            </h3>
            <div class="d-flex justify-content-around flex-wrap w-75 mx-auto">
                <div class="w-20 mb-5">
                    <img src="/images/img8.jpg" alt="" width="150rem" height="150rem" class="rounded-circle ">
                    <h5 class="mt-4 mb-3 " style=" color: #DB8ADE; font-weight:700;">
                        Rubby Foster
                    </h5>
                    <p style="color: #DB8ADE; word-spacing: 0.5rem; font-weight: 600;">
                        CEO-FOUNDER
                    </p>
                </div>
                <div class="w-20 mb-5">
                    <img src="/images/img9.jpg" alt="" width="150rem" height="150rem" class="rounded-circle ">
                    <h5 class="mt-4 mb-3 " style=" color: black; font-weight:700; ">
                        Louis Oconnell
                    </h5>
                    <p style="color: #DB8ADE; word-spacing: 0.5rem; font-weight: 600;">
                        CEO-FOUNDER
                    </p>
                </div>
                <div class="w-20 mb-5">
                    <img src="/images/img10.jpg" alt="" width="150rem" height="150rem" class="rounded-circle ">
                    <h5 class="mt-4 mb-3 " style=" color: black; font-weight:700; ">
                        Jackie Riggs
                    </h5>
                    <p style="color: #DB8ADE; word-spacing: 0.5rem; font-weight: 600;">
                        CEO-FOUNDER
                    </p>
                </div>
                <div class="w-20 mb-5">
                    <img src="/images/img11.jpg" alt="" width="150rem" height="150rem" class="rounded-circle ">
                    <h5 class="mt-4 mb-3 " style=" color: black; font-weight:700; ">
                        Alferd Small
                    </h5>
                    <p style="color: #DB8ADE; word-spacing: 0.5rem; font-weight: 600;">
                        CEO-FOUNDER
                    </p>
                </div>
                <div class="w-20 mb-5">
                    <img src="/images/img12.jpg" alt="" width="150rem" height="150rem" class="rounded-circle ">
                    <h5 class="mt-4 mb-3 " style=" color: black; font-weight:700; ">
                        Denis Mitchel
                    </h5>
                    <p style="color: #DB8ADE; word-spacing: 0.5rem; font-weight: 600;">
                        CEO-FOUNDER
                    </p>
                </div>
            </div>
        </div>

    </sec>
    <!-- team html ends  -->